<h4 class='sub-header'>New Note</h4>

<form class='form' action="<%= notes_url %>" method="POST">
  <input 
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  <input type="hidden" name="note[user_id]" value="<%= current_user_id %>">

  <p>
    <label for="note_content">Content</label>
    <textarea name="note[content]" id="note_content" cols="30" rows="7"></textarea>
  </p>

  <input type="submit">
</form>
